<div style="text-align:center">
    <h3>
      <nav>
        <a routerLink="/extent">
          <input type = "image" style="margin:0px 20px" img width="200" alt="Angular Logo" src="https://image.flaticon.com/icons/svg/136/136362.svg">
        </a>
      </nav>
      <p style="text-align:center"> {{number5}} </p>
    </h3>

    <h3>
      <nav>
        <a routerLink="/extent">
          <input type = "image" style="margin:0px 20px" img width="200" alt="Angular Logo" src="https://image.flaticon.com/icons/svg/136/136369.svg">
        </a>
      </nav>
      <p style="text-align:center"> {{number4}} </p>
    </h3>

    <h3>
      <nav>
        <a routerLink="/extent">
          <input type = "image" style="margin:0px 20px" img width="200" alt="Angular Logo" src="https://image.flaticon.com/icons/svg/136/136215.svg">
         </a>
      </nav>
      <p style="text-align:center"> {{number3}} </p>
    </h3>

    <h3>
      <nav>
        <a routerLink="/extent">
          <input type = "image" style="margin:0px 20px" img width="200" alt="Angular Logo" src="https://image.flaticon.com/icons/svg/136/136413.svg">
        </a>
      </nav>
      <p style="text-align:center"> {{number2}} </p>
    </h3>

    <h3>
      <nav>
        <a routerLink="/extent">
          <input type = "image" style="margin:0px 20px" img width="200" alt="Angular Logo" src="https://image.flaticon.com/icons/svg/136/136326.svg">
        </a>
      </nav>
      <p style="text-align:center"> {{number1}} </p>
    </h3>

</div>


